<section class="zone-section">

  <div id="zone" class="container-zone">
    <p class="zone-header">Zone</p>
    <p class="zone-desc">Take a look on available zones et get yours now before sold out</p>
    <p></p>
    <p class="zone-proccess">Choose a game <img src="../../../assets/img/tiret.svg" alt="">
      <span> Choose a zone</span> <img src="../../../assets/img/tiret.svg" alt="">
      <span style="color: rgb(112, 110, 110);"> Personal details</span> <img src="../../../assets/img/tiret.svg" alt="">
      <span style="color: rgb(112, 110, 110);"> Payement</span> </p>
  </div>
  <div class="zonet">
    <div class="affiche-zone">

      <div class="zoneContainer">
        <div class="zoneI" [ngStyle]="{background: 'linear-gradient(180deg, rgba(43, 56, 225, 0.406) 0%, rgba(60, 66, 144, 0.182) 100%)   ,url(../../../assets/img/'+TICKETS[id-1].image+') center no-repeat','background-size':'1133.83px 683.25px'}">
          <div class="prix-single-zone">
            <p style="width: 200px;
                text-align: center;"> <img src="../../../assets/img/local_offer.svg" alt=""> Choose your zone</p><br>
            <p>Category : LIGA</p>

          </div>
          <p id ="nom-single-match">Barcelona F.C vs Real Madrid</p>

        </div>
      </div>
      <div class="footer-zone">
        <div class="row" >
          <div class="col-md-1 col-xs-12" >
            <div class="zone-section" *ngFor="let z of ZONES">
            <label>Zone{{z.id}}</label>
            <select name="zone1" class="form-control">
              <option value="z1">1</option>
              <option value="z2">2</option>
              <option value="z4">4</option>
            </select>
            </div>

          </div>
          <div class="col-md-3 col-xs-6" >
            <div class="price" *ngFor="let z of ZONES">
              <p><span id="number">{{z.prix}}EUR &nbsp;</span>per ticket</p>
            </div>
          </div>
          <div class="col-md-3 col-xs-6" >
            <div class="buy" *ngFor="let z of ZONES">
              <a href="{{z.id}}/personal-details">
                <button >Buy</button>
              </a>
            </div>
          </div>
          <div class="photo">
            <img class="zone-image" src="../../../assets/img/img_5.png">
          </div>
        </div>
      </div>

      <div class="icons">
        <ul class="actions">
            <p id="share">Share</p>
          <li><a href="#">
            <img src="../../../assets/img/facebook.png" alt="" width="30" height="30">
          </a></li>
          <li><a href="#">
            <img src="../../../assets/img/linkedin.png" alt="" width="30" height="30">
          </a></li>
          <li><a href="#">
            <img src="../../../assets/img/twiter.png"
                 alt="" width="30" height="30">
          </a></li>
          <li><a href="#">
            <img src="../../../assets/img/gmail.png"
                 alt="" width="30" height="30">
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</section>







<!--<section class="zone-section">

    <div id="zone" class="container-zone">
        <p class="zone-header">Zone</p>
        <p class="zone-desc">Take a look on available zones et get yours now before sold out</p>
        <p></p>
        <p class="zone-proccess">Choose a game <img src="../../../assets/img/tiret.svg" alt="">
         <span> Choose a zone</span> <img src="../../../assets/img/tiret.svg" alt="">
         <span style="color: rgb(112, 110, 110);"> Personal details</span> <img src="../../../assets/img/tiret.svg" alt="">
         <span style="color: rgb(112, 110, 110);"> Payement</span> </p>
    </div>
    <div class="zonet">
    <div class="affiche-zone">

        <div class="zoneContainer">
          <div class="zoneI" [ngStyle]="{background: 'linear-gradient(180deg, rgba(43, 56, 225, 0.406) 0%, rgba(60, 66, 144, 0.182) 100%)   ,url(../../../assets/img/'+TICKETS[id-1].image+') center no-repeat','background-size':'1133.83px 683.25px'}">
              <div class="prix-single-zone">
                <p style="width: 200px;
                text-align: center;"> <img src="../../../assets/img/local_offer.svg" alt=""> Choose your zone</p><br>
                <p>Category : LIGA</p>

              </div>
              <p id ="nom-single-match">Barcelona F.C vs Real Madrid</p>

        </div>
        </div>
        <div class="footer-zone">
          <div class="row">
              <div class="col-md-1 col-xs-12">
                <label>Zone1</label>
                <select name="zone1" class="form-control">
                  <option value="z1">1</option>
                  <option value="z2">2</option>
                  <option value="z4">4</option>
                </select>
                <label>Zone2</label>
                <select  name="zone2" class="form-control">
                  <option value="">1</option>
                  <option value="z2">2</option>
                  <option value="z4">4</option>
                </select>
                <label>Zone3</label>
                <select name="zone3" class="form-control">
                  <option value="">1</option>
                  <option value="z2">2</option>
                  <option value="z4">4</option>
                </select>
                <label>Zone4</label>
                <select name="zone4" class="form-control">
                  <option value="">1</option>
                  <option value="z2">2</option>
                  <option value="z4">4</option>
                </select>
              </div>
            <div class="col-md-3 col-xs-6">
              <div class="price">
              <p>29,00 EUR <span>par ticket</span></p>
              <p>29,00 EUR <span>par ticket</span></p>
              <p>29,00 EUR <span>par ticket</span></p>
                <p>29,00 EUR
                  <span>par ticket</span></p>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="buy">
              <button routerLink="/personal-details">Buy</button>
              <button routerLink="/personal-details">Buy</button>
              <button routerLink="/personal-details">Buy</button>
                <button routerLink="/personal-details">Buy</button>
              </div>
            </div>
            <div class="col-md-1 mt-md-0 mt-1">
                <img class="zone-image" src="../../../assets/img/img_5.png">
            </div>
          </div>
        </div>
      <div class="icons">
        <ul class="actions">
          <li>
            <a href="#">Share</a>
          </li>
          <li><a href="#">
            <img src="../../../assets/img/frame1.png" alt="">
          </a></li>
          <li><a href="#">
            <img src="../../../assets/img/frame2.png" alt="">
          </a></li>
          <li><a href="#">
            <img src="../../../assets/img/frame3.png" alt="">
          </a></li>
        </ul>
      </div>
        </div>
    </div>
</section>-->
