.zone-section{
  background-image: url("src/assets/img/img_3.png");
}
.container-zone{
    // margin-top: 130px;
    display: flex;
    margin-left: 45px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;


  }
  .zone-header{
    margin-top: 104px;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Neue Radial A Light';
  }
  .zone-proccess{
    margin-left: 115px;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Neue Radial A Light';
  }
  .zone-desc{
    color: #fff;
    font-family: 'Neue Radial A Light';
    font-style: normal;
    margin-top: 7px;
    font-weight: 300;
    font-size: 14px;
  }
  .zonet{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    flex-wrap: wrap;
  }
  .affiche-zone{
    margin: 30px 8px 30px 8px;
  }

  .zoneI{
    padding: 9px;
    width: 1133.83px;
    height: 200px;
      box-shadow: inset 0px 144px 134px 3px rgba(0, 0, 0, 0.25);
  border-radius: 52px;
  background: linear-gradient(180deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);
  }

  .footer-zone{
    width: 1125.69px;
    height: 380.38px;
    margin-top: 60px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 13px;
    color: #FFFFFF;
  }

  .prix-single-zone{
    margin-top: 24px;
    margin-left: 25px;
    margin-right: 38px;
    color: #FFF;
    display: flex;
    justify-content: space-between;
font-family: 'neueRadial-A-ExtraLight';
font-style: normal;
font-weight: 200;
font-size: 24px;
line-height: 26px;
letter-spacing: -0.022em;
color: #FFFFFF;
  }
  .param-single-zone{
    margin-top: 33px;
    color: #fff;
     font-family: 'Neue Radial-A-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 0px;
    float: right;
  }
  /*.desc-single-zone{
    margin-top: 382px;
    color: #fff;
  }*/
#nom-single-match{
font-family: 'Neue Radial-A-Regular';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 0px;
text-align: justify;
color: #FFFFFF;
margin-top: 24px;
margin-left: 34px;
  }
#info-single-match{
  font-family: 'Neue Radial-A-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  color: #FFFFFF;
  margin-top: 37px;
}
.btn-add-cart{
  font-family: 'neueRadial-A-Light';
font-style: normal;
font-weight: 300;
font-size: 18.35px;
line-height: 0px;
/* identical to box height, or 0% */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}
select option{
  //background-color: #23272b;
  color: #23272b;

}
  .nbrTicket{
    font-weight: 500 !important;
    font-style: normal;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 11.2401px;
    line-height: 0px;
    color: #5143C4;
    margin: 30px;


  }
  .prix{
    margin: 17px;
  }
  /*.btn-add{
    color: #fff;
    border: 1px #fff solid;
    cursor: pointer;
    width: 167px;
    height: 25px;
    background: linear-gradient(180deg, #7267CB 0%, #7F71B4 100%);
    border-radius: 4.52367px;
    margin-top: 22px;
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
    font-size: 11.3092px;
    float: right;
    margin-right: 30px;
    margin-bottom: 12px;
  }*/
mat-icon{
  transform: scale(0.75);
  color: #fff;
  line-height: 0 !important;
}
.buy{
  margin-top: 25px;
  margin-left: 50px;
}
.buy button{
  width: 90px;
  height: 25px;
  margin-bottom: 60px;
  display: block;
  background: #4ECB71;
  border-color: transparent;
  border-radius: 5px;
  color: #FFFFFF;
}
.price{
  margin-top: 30px;
  margin-left: 100px;
}
.price p{
  margin-bottom: 85px;
  font-family: 'neueRadial-B-BlackItalic';
  font-style: normal;
  font-weight: 10;
  font-size: 14px;
  line-height: 0px;
  text-align: justify;
  color: #FFFFFF;

}

.zone-image{
  width:400px;
  height:300px;
  margin:10px;
}
.row{
  margin: 25px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.form-control{
  width: 69.77px;
  height: 27.93px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  margin-bottom: 50px;
}
.zone-section{
  margin-top:15px;
  font-family: 'neueRadial-A-Regular';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 0px;
  text-align: justify;
  color: #FFFFFF;
}
#number{
  font-family: 'neueRadial-A-Regular';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 0px;
  color: #FFFFFF;
}
#share{
  font-family: 'neueRadial-A-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.actions li{
  margin:5px;
}
.icons{
  display: flex;
  //margin-left: 45px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top:20px;
}
