<section>

    <div class="achat-header">
        <p id="achat-label">MES ACHATS</p>
        <p id="desc-label">Take an overview about your last matchs</p>
    </div>

    <div class="achat-body">
        <div class="sidebar-body">

            <a href="/achats">
                
                <p> <img src="../../../assets/img/Home.svg" alt="">Mes achats</p>
            </a>
            <a href="/compte">
                <p> <img src="../../../assets/img/Calendar.svg" alt=""> Mon compte</p>
            </a>
            <a href="">
                <p> <img src="../../../assets/img/profile-user.svg" alt=""> Settings</p>
            </a>
            <p> <img style="margin-left: 12px;"src="../../../assets/img/ligne.svg" alt=""></p>
            <a href="">
                <p> <img src="../../../assets/img/tick-square.svg" alt=""> Notifications</p>
            </a>
        </div>
        <div class="core-achat" >
            <p id="core-head">Derniers matchs achetés</p>
            <div class="match-achete">
                <div class="match1">
                    <p id="nom-match"></p>
                    <p id="date-match">05 Mars 2022 at 5 p.m.</p>
                </div>

            </div>
            <div class="transaction-match">
                <p id="transaction-title">Toutes les transactions</p>
                <table>
                    <thead>
                      <tr>
                        <th scope="col">MatchName</th>
                        <th scope="col">Categorie</th>
                        <th scope="col">Date</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stadium</th>
                        <th scope="col">Ticket</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let l of listItems">
                      <tr>
                        <td >{{l.ticketName}}</td>
                        <td>Liga BBVA</td>
                        <td>{{l.dateAdded}}</td>
                        <td>{{l.price}} MAD</td>
                        <td>Stade Mohammed V, Casablanca</td>
                        <td><a href="/ticket/{{l.ticketID}}">View Ticket</a></td>
                      </tr>
                    </tbody>
                   
                  </table>

            </div>

        </div>
    </div>

    
</section>