<section>

    <div class="achat-header">
        <p id="achat-label">MES ACHATS</p>
        <p id="desc-label">Take an overview about your last matchs</p>
    </div>

    <div class="achat-body">
        <div class="sidebar-body">

            <a href="">
                
                <p> <img src="../../../assets/img/Home.svg" alt="">Mes achats</p>
            </a>
            <a href="">
                <p> <img src="../../../assets/img/Calendar.svg" alt=""> Mon compte</p>
            </a>
            <a href="">
                <p> <img src="../../../assets/img/profile-user.svg" alt=""> Settings</p>
            </a>
            <p> <img style="margin-left: 12px;"src="../../../assets/img/ligne.svg" alt=""></p>
            <a href="">
                <p> <img src="../../../assets/img/tick-square.svg" alt=""> Notifications</p>
            </a>
        </div>
        <div class="core-achat">
            <p id="core-head">Derniers matchs achetés</p>
            <div
            class="match"></div>

        </div>
    </div>

    
</section>