<section class="cart-container">
<p id="cart-header">Your shopping cart</p>
<p id="cart-desc">Check your shopping</p>
<div>
    <table>
        <thead>
          <tr>
                    <th scope="col">Ticket Detail</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Quantite</th>
                    <th scope="col">Total</th>
                    <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody *ngFor="let c of listItems">
          <tr>
            <td >{{c.ticketName}}</td>
            <td>{{c.price}} DH</td>
            <td style="display: flex;justify-content: center;flex-direction: row;">
              <input type="hidden" value="{{c.bufcartID}}" #ticket>
              <input type="hidden" [value]="quantity" #quantity>
                <button (click)="minus(ticket.value,quantity.value)" class="btn-quantity"><mat-icon>remove</mat-icon></button>
                <input type="text" value="{{c.quantite}}" class="input-quantity">
                
                <button (click)="plus(ticket.value,quantity.value)" class="btn-quantity"><mat-icon>add</mat-icon></button>
               
            </td>
            <td>{{c.price * c.quantite}}</td>
            <td><button class="btn-delete" (click)="deleteTicket(ticket.value)"><mat-icon>delete</mat-icon></button></td>
          </tr>
        </tbody>
       
      </table>
</div>

<div class="cart-total">
    <div class="cart-total-ctn">
        <div style="display: flex;
        justify-content: space-between; width: 300px;">
            <p class="cart-total-desc">Sub total  </p>
            <p class="cart-total-desc">{{totalSum }} MAD</p>

        </div>
        <div style="display: flex;
        justify-content: space-between; width: 300px;">
        <p class="cart-total-desc">Shipping </p>
        <p class="cart-total-desc">Free</p>

        </div>
        <div style="display: flex;
        justify-content: space-between; width: 300px;">
        <p class="cart-total-desc">Total </p>
        <p class="cart-total-desc">{{totalSum }} MAD</p>

        </div>
    </div>
<div>
    <p class="cart-total-desc">Discount code</p>
    <input type="text" class="input-checkout">
    <button class="apply-btn">Apply</button>
    <div>
        <button class="btn-checkout">CHECK OUT</button>
    </div>

</div>
    
</div>
</section>
