.cart-container{
    margin-top: 93px;
    border-radius: 19px;
}

#cart-header{
font-family: 'Neue Radial-A-Regular';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 45px;
color: #FFFFFF;
margin-left: 77px;
}
#cart-desc{
font-family: 'neueRadial-A-Light';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
margin-left: 77px;

}
table {
    margin-left: 10px;
    table-layout: fixed;
    width: 1250px;
    color:   rgb(255, 255, 255);
    border-collapse: collapse;
    font-family: 'Neue Radial-A-Regular';
    border-radius: 19px;
}
  
  thead th:nth-child(1) {
      text-align: center;
    width: 20%;
  }
  
  thead th:nth-child(2) {
      
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 8%;
  }
  
  thead th:nth-child(4) {
    width: 10%;
  }
  thead th:nth-child(5) {
    width: 10%;
  }
  thead:after {
    content:'';
    display:table-row;
    height:20px;
  }
  tbody{
    background: rgba(71, 79, 151, 0.42);
    // opacity: 0.6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
  }
  
  th, td {
    padding: 20px;
    font-family: 'Neue Radial-A-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0px;
    text-align: justify;

color: #FFFFFF;
  }
  td{
      padding: 20px;
  }
  th{
    background: rgba(44, 53, 101, 0.42);
}
.cart-match-img{
    background: linear-gradient(180deg, rgba(43, 56, 225, 0.406) 0%, rgba(60, 66, 144, 0.182) 100%), url(../../../assets/img/christian-pulisic-chelsea.jpg) center;
    // background-size:400px 300px;
    width: 150px !important;
    height: 150px;
    background-repeat: no-repeat;
}
.btn-quantity{
    background: transparent;
    border: none;
    color: #FFFFFF;
}

.input-quantity{
    text-align: center;
    width: 27px;
    height: 50px;
    color: #FFFFFF;
background: rgba(255, 255, 255, 0.2);
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 8px;
}

.cart-total{
    width: 1250px;
    margin-left: 10px;
    margin-top: 25px;
    height: 203px;
    background: rgba(71, 79, 151, 0.42);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    display: flex;
    justify-content: space-between;
}
.cart-total-ctn{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.cart-total-ctn p {
    margin-left: 22px;
}
.cart-total-desc{
margin-top: 22px;

font-family: 'Neue Radial-A-Regular';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
}

.input-checkout{
    background: rgba(255, 255, 255, 0.2);
    width: 240px;
    height: 30px;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 8px;
}

.apply-btn{
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 10px;
width: 125px;
height: 44px;
margin-left: 22px;
margin-right: 22px;

background: transparent;
color: #FFFFFF;
}
.btn-checkout{
margin-top: 22px;
margin-left: 250px;
padding: 12px;
background: #4ECB71;
border-radius: 10px;
font-family: 'Neue Radial-A-Regular';
font-style: normal;
font-weight: 400;
font-size: 15px;
color: #FFFFFF;
width: 140px;
border: none;
}
.btn-delete{
  background: transparent;
    border: none;
    color: #FFFFFF;

}