<section class="register-comp">
  <form [formGroup]="formRegister">
  <div class="register-container">
    <p id="register-head">Sign Up</p>
    <div class="fullname-ctn">
      <div>
        
        <label class="register-label">First Name</label>

        <input type="text" 
        class="register-fullname" 
        name="firstname" 
        id="" 
        placeholder="firstname" 
        formControlName="firstname">
      </div>  
     
     <div>
      <label class="register-label">Last Name</label>
      <input type="text" 
      class="register-fullname" 
      name="lastname" 
      id="" 
      placeholder="lastname" 
      formControlName="lastname">
     </div>
     
     
      </div>
  
    <div class="email-ctn">
      <label class="register-label">Email</label>
      <input type="text"
       class="register-input"
        name="email" 
        id="" 
        placeholder="username@gmail.com" 
        formControlName="email">
    </div>
    <div class="password-ctn">
        <div>
          <label class="register-label">Password</label>
      <input type="password" 
      class="register-pass" 
      name="password" 
      placeholder="Password" 
      formControlName="password">
      <a class="register-label2">Forget Password ?</a>
    </div>
        <div>
          <label class="register-label">Confirm password</label>
          <input type="password" 
          class="register-pass" 
          name="password" 
          placeholder="Password" 
          formControlName="confirmpassword">
        </div>
     
    </div>
   

    <button type="submit" class="register-btn" (click)="onSignUp()">Sign Up</button>
    <label class="register-label2">Already have an account ?<a href="/login" class="register-link-register"> Log in</a> </label>
  </div>
</form>
</section>