<footer id="footer">
  <div class="line">

  </div>
 <div class="section">
   <div class="container">
     <div class="row">
       <div class="col-md-6 mt-md-0 mt-3">
         <div class="footer">
           <div class="logo-footer">
             <a routerLink="/" >
               <img src="../../../assets/img/animateitlogo.png" alt="">
             </a>
           </div>
           <p>Animate it is a new technology service founded on 2O22 in Morocco, all<br> services provided are produced and designed by the company and are<br> made with passion. The company also has delightful and beautifully <br>crafted icons for common actions and items. Download now our app<br> to have access to over 12 different services and use them  in your <br>digital products for Android, iOS, and web.</p>
         </div>
       </div>

       <div class="col-md-2 col-xs-6">
         <div class="footer">
           <h3 class="footer-title">Services</h3>
           <ul class="footer-links">
             <li><a href="#">Digital tifos</a></li>
             <li><a href="#">Digital Ads</a></li>
             <li><a href="#">Solution implementation</a></li>
           </ul>
         </div>
         <div class="footer">
           <h3 class="footer-title">Shop</h3>
           <ul class="footer-links">
             <li><a href="#">Games tickets</a></li>
             <li><a href="#">Games replay</a></li>
             <li><a href="#">Games footages</a></li>
             <li><a href="#">Accessories</a></li>
           </ul>
         </div>
       </div>

       <div class="col-md-2 col-xs-6">
         <div class="footer">
           <h3 class="footer-title">News</h3>
           <ul class="footer-links">
             <li><a href="#">Forum</a></li>
             <li><a href="#">News</a></li>
             <li><a href="#">Experiences</a></li>
             <li><a href="#">Careers</a></li>
           </ul>
         </div>
         <div class="footer">
           <h3 class="footer-title">Account</h3>
           <ul class="footer-links">
             <li><a href="#">Manage your account</a></li>
             <li><a href="#">My tickets</a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>
  <div class="icons">
  <ul class="actions">
    <li><a href="#">
      <img src="../../../assets/img/frame1.png"  width=30 height=30 alt="">
    </a></li>
    <li><a href="#">
      <img src="../../../assets/img/frame2.png" width=30px height=30px alt="">
    </a></li>
    <li><a href="#">
      <img src="../../../assets/img/frame3.png" width=30px height=30px alt="">
    </a></li>
  </ul>
  </div>
  <div class="line1">

  </div>

  <table>
    <tr>
      <td><div id="copyright"><p>Copyright © 2022 Animate it Inc. All rights reserved.</p></div></td>
      <td><div id="privacy"><p>Privacy Policies</p></div></td>
      <td><div id="service"><p>Terms of service</p></div></td>
    </tr>
  </table>


</footer>
