<header> 
            <div class="logo">
              <a routerLink="/" >
                <img src="../../../assets/img/logoAnimaIt.png" alt="">
                    <span>animate it</span>
              </a>
            </div>
            <nav>
              <ul>
                <li><img src="../../../assets/img/Frame.png" alt=""></li>
                <li><a href="">My purchases</a></li>
                <li> <a href="">Tickets</a></li>
                <li><a href="">Help & Contact</a></li>
              </ul>
            </nav>
            <div class="actions">
              <ul>
                <li><a href="">Login</a>
                </li>
                <li><a href="">Sign Up</a></li>
                <li><a href="" class="panier-text">Panier</a> </li>
              </ul>
            </div>
            <!-- <div class="frame">
              <img src="../../../assets/img/Frame.png" alt="">
            </div> 
            <div class="text-bar">
              <a href="">My purchases</a>
            </div>
            <div class="text-bar2">
              <a href="">Tickets</a>
            </div>
            <div class="text-bar3">
              <a href="">Help & Contact</a>
            </div> -->
            <!-- <div class="login">
              <a href="">Login</a>
            </div>
            <div class="signup">
              <a href="">Sign Up</a>
            </div>
            <div class="panier">
                <img class="panier-logo"src="../../../assets/img/Vector.png" alt="panier logo ">
               <a href="" class="panier-text">Panier</a> 
            </div> -->
           
      

</header>
