<header style="position: fixed;width: 100%;height: 64px;z-index: 10;">
            <div class="logo">
              <a routerLink="/" >
                <img src="../../../assets/img/animateitlogo.png" alt="">
              </a>
            </div>
            <!-- <nav>
              <ul>
                <li><a href="">TICKETS</a></li></ul>
                <i class="fa fa-search"></i>
            </nav> -->
            <div class="actions">
              <ul>
                <li><a href="/tickets">TICKETS</a></li>
                <li><a href="/streaming">STREAMING</a></li>
                <li><a href="">COMPTE</a></li>
                <li><a href="">MES ACHATS </a></li>
                <li>
                  <div class="search-box">
                    <button class="btn-search"><mat-icon aria-hidden="false" [ngStyle]="{'color':'white'}">search</mat-icon></button>
                    <input type="text" class="input-search" placeholder="Search">
                  </div>
                </li>
                <li>
                  <div id="cercle">{{totalItem}}</div>
                 <a href=""> <img src="../../../../assets/img/cart.svg" style="transform: scale(2);"/></a>
                </li>
              </ul>
            </div>
</header>
