header {
	& {
		height: 120px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #000;
	}
	.logo {
		margin-left: 78px;
	}
	.logo a {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.logo a span {
		
		font-weight: 700;
		font-size: 25px;
		line-height: 35px;
		color: #ffff;
	}
	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
	}
	ul li {
		margin-right: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: auto;
		height: 25px;
		padding-left: 10px;
		padding-right: 10px;
	}

	ul li a {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 275;
		font-size: 14px;
		line-height: 65px;
		color: #ffffff;
		text-decoration: none;
	}
	ul li:hover {
		background-color: #ffffff;
		border-radius: 8px;
	}
	ul li:hover a {
		color: #000;
	}
	.actions {
		margin-right: 78px;
	}
	.actions ul li:last-of-type {
		border: 1px solid #ffffff;
		border-radius: 8px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
