header {
	& {
		height: 120px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		 background: rgba(24, 35, 53, 1);
	}
	
	.logo {
		margin-left: 78px;
	}
	.logo a {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.logo a span {
		
		font-weight: 700;
		font-size: 25px;
		line-height: 35px;
		color: #ffff;
	}
	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
	}
	ul li {
		margin-right: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: auto;
		height: 25px;
		padding-left: 10px;
		padding-right: 10px;
	}

	ul li a {
		font-family: 'Neue Radial A Light';
		font-weight: 275;
		font-size: 14px;
		line-height: 65px;
		color: #ffffff;
		text-decoration: none;
	}
	ul li:hover {
		// background-color: #ffffff;
		// border-radius: 8px;
	}
	ul li:hover a {
		// color: #000;
	}
	.actions {
		margin-right: 78px;
	}
	
	
}
.menu{
	width: 22px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
  
}
.search-box{
	width: fit-content;
	height: fit-content;
	position: relative;
  }
  .input-search{
	height: 50px;
	width: 30px;
	border-style: none;
	padding: 10px;
	font-size: 18px;
	letter-spacing: 2px;
	outline: none;
	border-radius: 25px;
	transition: all .5s ease-in-out;
	background-color: rgba(24, 35, 53, 1);
	padding-right: 40px;
	color:#fff;
  }
  .input-search::placeholder{
	color:#fff;
	font-size: 14px;
	// letter-spacing: 2px;
	font-weight: 100;
  }
  .btn-search{
	width: 50px;
	height: 50px;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	right: 0px;
	color:#ffffff ;
	background-color:transparent;
	pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom:1px solid rgba(255,255,255,.5);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom:1px solid rgba(255,255,255,.5);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
