<header> 
            <div class="logo">
              <a routerLink="/" >
                <img src="../../../assets/img/animateitlogo.png" alt="">
              </a>
            </div>
            <!-- <nav>
              <ul>
                <li><a href="">TICKETS</a></li></ul>
            </nav> -->
            <div class="actions">
              <ul>
                <li><a href="/login">TICKETS</a></li>
                <li><a href="">STREAMING</a></li>
                <li><a href="">COMPTE</a></li>
                <li><a href="">MES ACHATS </a></li>
                <li> <input type="text" name="search" id="search">
                  <button type="submit"><i class="fa fa-search"></i></button></li>
                <li>
                  
                </li>
              </ul>
            </div>
</header>
