  <section class="container">
      <div class="welcome-text">
        <span id="m">“</span>
        <p id="welcome">Unlocking the full <br>potentiel of virtual<br> reality <span id="together"> Together, </span></p>
        <p id="desc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus ac <br> ipsum sed rhoncus.
          Nam euismod auctor ipsum. Etiam interdum nulla <br> neque, eu elementum arcu fermentum vel.j:ljn:lj,n j,b ,n </p>

          <button id="btn-homepage">More details  →
            <!-- <span class="glyphicon glyphicon-search"></span> -->
          </button>
      </div>
          <div class="zoom">
          <img class="image-welcome" src="../../../assets/img/img.png" >
          </div>
  </section>
  <mg-ticket></mg-ticket>
<mg-stream></mg-stream>
<div [ngStyle]="{'background-image' : 'url(\'../assets/img/bg_stadium.svg\')','background-repeat' : 'no-repeat','padding': '10px'}">
  <mg-experience></mg-experience>
</div>
 
