<div class="section">
  <div class="container">
    <div class="row">
      <div class="welcome-text">

        <span id="welcome">Welcome</span> to<br> our web site <br>This is the best<br> experience you’ll ever have
        <span id="desc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus ac ipsum sed rhoncus.
          Nam euismod auctor ipsum. Etiam interdum nulla neque, eu elementum arcu fermentum vel.</span>

      </div>

      <img class="image-welcome" src="../../../assets/img/Group 739.png" alt="">
      <button id="btn-homepage">Get started</button>
    </div>
  </div>

  

