  <section class="container">
    <div id="ellipse7">
    </div>
    <div id="ellipse8">
    </div>
    <div id="ellipse9">
    </div>
    <div id="ellipse13">
    </div>
    <div id="ellipse14">
    </div>
    <div id="ellipse10">
    </div>
    <div id="ellipse11">
    </div>
    <div id="ellipse12">
    </div>
    <div id="ellipse15">
    </div>
    <div id="ellipse16">
    </div>
      <div class="welcome-text">
        <span id="m">“</span>
        <span id="welcome">Unlocking the full <br>potentiel of virtual<br> reality <span id="together"> Together, </span></span>
        <span id="desc-text">The cutting-edge technology that will<br><br> leac to a massive change in sport industry </span>

          <button id="btn-homepage">More details  →
            <span class="glyphicon glyphicon-search"></span>
          </button>
      </div>

          <div class="zoom">
          <img class="image-welcome" src="../../../assets/img/img.png" alt="">
          </div>

  </section>
  <!-- <section class="home">
    <div class="container">
      <span class="welcome">Welcome to <br>
        our web site This is the best <br>
          experience you’ll ever have</span>
        <div>
          <span class="welcom-desc">
            If anyone is looking to create a book cover, this is the place you need to visit.My editor recommended 99design and I am glad she did.  My only regret is that I didn't here about them for my first 3 books.
        That did a great job!!
          </span>
          <button class="btn-start">Get Started</button>
          <div class="ellipse"></div>
        </div>
        <div>

        </div>

    </div>

  </section> -->
