// .welcome-text{
//   padding: 60px 50px 50px 50px ;
//   width: 482px;
//   height: 216px;
//   left: 179px;
//   top: 227px;
//   font-family: 'Poppins';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 28px;
//   line-height: 54px;
//   color: #fff;
//   mix-blend-mode: screen;
// }
// #welcome{
//   font-weight: 700;

//   color: #7F71B4;
// }
// .image-welcome{
//   position: absolute;
// width: 300px;
// height: 606.94px;
// left: 612px;
// top: 156.26px;
// }
// #btn-homepage{
//   position: absolute;
//   width: 214px;
//   height: 50px;
//   left: 206px;
//   top: 643px;
//   background: linear-gradient(92.82deg, #2D3078 1.04%, #7F71B4 49.12%, #15181D 96.6%);
//   border-radius: 50px;
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 22px;
//   text-align: center;
//   color: #FFFFFF;  
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}

// .homepage{
//   padding-top: 174px;
//   background-color: #000;
//   height: auto;
//   padding-bottom: 100px;
//   display: flex;
//   justify-content: space-between;
// }
// .homepage .homepage-text{
  
//   margin-left: 179px;
//   font-family: 'Poppins';
//   font-style: normal;
//   font-weight: 800;
//     // font-size: 36px;
//   line-height: 54px;  
// }

// .homepage .homepage-text span{
//   color: #fff;
//   }
//   .homepage img{
//     width: 650px;
//   }
// #welcome-text{
//   color:#7F71B4;
//   font-weight: 800;
//   font-size: 35px;
// }
// #welcome-text-1{
//   font-weight: 500;
//   font-size: 30px;
// }
#welcome-desc{
  font-size: 10px;
  width: 468px;
  height: 51px;
}
.container{
  &{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  img{
    width: 500px;
    object-fit: fill;
  }
}