// .home{
//   background-image: url("../../../assets/img/background-home.png");
//   background-repeat: no-repeat;
//   background-position: 80%;
//   height: 925px;
//   width: auto;
// }
// .container{
//   width: 850px;
//   height: 546px;
//   margin-top: 150px;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
//   border: 3px solid;


// background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0.55%, rgba(255, 255, 255, 0) 100%);
// backdrop-filter: blur(42px);

// border-radius: 25px;

// }

// .welcome{
// font-family: 'Poppins';
// font-style: normal;
// font-weight: 300;
// font-size: 36px;
// line-height: 54px;
// color: #FFFFFF;
// }
// .welcom-desc{
// font-family: 'Poppins';
// font-style: normal;
// font-weight: 400;
// font-size: 22px;
// line-height: 33px;
// color: #FFFFFF;
// }
// .btn-start{
//   color: #FFFFFF;
//   border: 1px solid #FFFFFF;
//   border-radius: 7px;
//   padding: 12px;
//   background-color: transparent;
// }
// .ellipse{
// width: 417px;
// height: 416px;
// left: 240px;
// top: 593px;
// background: radial-gradient(53.9% 53.9% at 77.01% 30.21%, #7F71B4 0%, #1F34E7 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
// opacity: 0.3;
// filter: blur(300px);
// }

.container{
  &{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  img{
    width: 50%;
    object-fit: fill;
  }
}

#ellipse8{
  position: absolute;
  width: 457px;
  height: 457px;
  background: radial-gradient(53.9% 53.9% at 77.01% 30.21%, #7F71B4 0%, #1F34E7 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  opacity: 0.3;
  filter: blur(300px);
}
#ellipse9{
  width: 457px;
  height: 457px;
  background: radial-gradient(53.9% 53.9% at 77.01% 30.21%, #7F71B4 0%, #1F34E7 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  opacity: 0.3;
  filter: blur(300px);
}



