

<section class="compte-container">
     <p class="compte-label1">Mehdi KALILA</p>
      <div class="compte-info">
          <p class="info-head">My informtions</p>
          <div class="firstname">
            <p class="compte-label">First name : </p>
            <p class="compte-label">KALILA</p> 
          </div>
          <div class="firstname">
            <p class="compte-label">Last name :</p>
            <p class="compte-label">Mehdi</p> 
          </div>
          <div class="firstname">
            <p class="compte-label">E-mail :</p>
            <p class="compte-label">Mehdi.kalila55@gmail.com</p> 
          </div>
          <div class="firstname">
            <p class="compte-label">Phone number : </p>
            <p class="compte-label">07 13 53 99 76</p> 
          </div>
        </div>
        <div class="compte-edit">
          <p class="info-head">Edit informations</p>
          <div class="firstname">
            <p class="compte-label">Civility : </p>
            <input type="text" class="compte-input-modif">
          </div>
        
        
       
        
        </div>

  <button class="compte-btn" (click)="logout()">Log out</button>
</section>