.compte-container {
	width: 100%;
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.compte-btn {
	margin-left: 228px;
	width: 100px;
	background-color:rgba(39, 49, 88, 0.15);
	color: #fff;
	padding: 9px;
	border-radius: 8px;
	border: 1px solid white;
	margin-bottom: 20px;
}
.compte-info {
	background: rgba(39, 49, 88, 0.15);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 13px;
	width: 736px;
	height: 255px;
}
.compte-label {
	color: #fff;
    margin-left: 59px;

}
.compte-label1{
	font-family: 'neueRadial-A-Black';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 43px;
color: #FFFFFF;
margin-right: 310px;
}
.info-head {
	margin-top: 25px;
    margin-left: 59px;
	font-family: 'neueRadial-A-Black';
	font-style: normal;
	font-weight: 100;
	font-size: 20px;
	line-height: 24px;

	color: #8bd6c8;
}
.firstname{
	display: flex;
	justify-content: space-between;
	width: 400px;
}
.compte-edit{
	width: 736px;
	height: 206px;
}
.compte-input-modif{
	height: 40px;

}
