

<section class="compte-container">
     <p class="compte-label1">{{CLIENT.prenom}} {{CLIENT.nom}}</p>
      <div class="compte-info">
          <p class="info-head">My informtions</p>
          <div class="firstname">
            <p class="compte-label">First name : </p>
            <p class="compte-label">{{CLIENT.prenom}}</p> 
          </div>
          <div class="firstname">
            <p class="compte-label">Last name :</p>
            <p class="compte-label">{{CLIENT.nom}}</p> 
          </div>
          <div class="firstname">
            <p class="compte-label">E-mail :</p>
            <p class="compte-label">{{CLIENT.email}}</p> 
          </div>
          <div class="firstname">
            <p class="compte-label">Phone number : </p>
            <p class="compte-label">{{CLIENT.tel}}</p> 
          </div>
          <div>
            <a href="/login">
              <button class="compte-btn" (click)="logout()">Log out</button>
            </a>
          </div>
          
        </div>
        <!-- <div class="compte-edit">
          <p class="info-head">Edit informations</p>
          <div class="firstname">
            <p class="compte-label">Civility : </p>
            <input type="text" class="compte-input-modif">
          </div>
        
        
       
        </div> -->
      
</section>