<section class="login-comp">
    <form [formGroup]="formLogin">
  <div class="login-container">

    <p id="login-head">Log In</p>
    <div class="email-ctn">
      <label class="login-label">Email</label>
      <input type="text" class="login-input" name="email" id="" placeholder="username@gmail.com" formControlName="email">
    </div>
    <div class="password-ctn">
      <label class="login-label">Password</label>
      <input type="password" class="login-input" name="password" placeholder="Password" formControlName="password">
      <p class="login-label2">Forget Password ?</p>
    </div>
    <button type="submit" class="login-btn" (click)="onLoggedin()">Sign in</button>
    <label class="login-label2">Dont have an account yet ?<a href="/register" class="login-link-register"> Sign Up for free</a> </label>
  </div>
</form>
</section>