<section class="zone-section">
  <div id="zone" class="container-zone">
    <p class="zone-header">Zone</p>
    <p class="zone-desc">Take a look on available zones et get yours now before sold out</p>
    <p></p>
    <p class="zone-proccess">Choose a game <img src="../../../assets/img/tiret.svg" alt="">
      <span> Choose a zone</span> <img src="../../../assets/img/tiret.svg" alt="">
      <span> Personal details</span> <img src="../../../assets/img/tiret.svg" alt="">
      <span style="color: rgb(112, 110, 110);"> Payement</span> </p>
  </div>
  <div class="zonet">
    <div class="affiche-zone">
      <div class="zoneContainer">
        <div class="zoneI" [ngStyle]="{background: 'linear-gradient(180deg, rgba(43, 56, 225, 0.406) 0%, rgba(60, 66, 144, 0.182) 100%)   ,url(../../../assets/img/el-clasico.jpeg) center no-repeat','background-size':'1133.83px 683.25px'}">
          <div class="prix-single-zone">
            <p style="width: 200px;
                text-align: center;"> <img src="../../../assets/img/local_offer.svg" alt=""> Choose your zone</p><br>
            <p>Category : LIGA</p>
          </div>
          <p id ="nom-single-match">Barcelona F.C vs Real Madrid</p>

          <!-- <div class="desc-single-zone">
                <button class="btn-add" routerLink="/zone/1/zone"></button>
           </div>-->
        </div>
      </div>
      <div class="footer-zone">
        <div class="infos">
        <div class="row">
          <label>Your ticket price</label>
        </div>
        <div class="row">
          <label>Zone{{ZONES[id-1].id}}</label>
          <p class="rightt">{{ZONES[id-1].prix}}EUR<span>par ticket</span></p>
        </div>
        <div class="row">
          <select name="zone1" class="form-control">
            <option value="z1">1</option>
            <option value="z2">2</option>
            <option value="z4">4</option>
          </select>
        </div>
          <div class="row">
            <p>Service Fee + Tax</p>
            <p class="right">29,00 EUR <span>par ticket</span></p>
          </div>
          <div class="row">
            <p>100% Guarantee</p>
            <p class="tax">FREE</p>
          </div>
          <div class="row">
            <p>Do you have a discount code ?</p>
            <div class="discount-code">
              <label >Discount code</label>
              <div class="your-code">
            <input type="text" id="code" name="name" required
                   minlength="6" maxlength="10" size="30">
            <button class="apply">Apply</button>
              </div>
            </div>
          </div>
          <div class="row">
            <p>TOTAL</p>
            <p class="approx">(approx € 74.00) £ 73.98</p>
          </div>
        </div>
          <!--<div class="col-md-4 col-xs-12">
            <label>Zone1</label>
            <select name="zone1" class="form-control">
              <option value="z1">1</option>
              <option value="z2">2</option>
              <option value="z4">4</option>
            </select>
            <p>Service Fee + Tax</p>
            <p>100% Guarantee</p>
            <p>Do you have a discount code ?</p>
            <p>TOTAL</p>
          </div>
          <div class="col-md-8 col-xs-6">
            <div class="price">
              <p>7.99 EUR <span>par ticket</span></p>
              <p>FREE <span>par ticket</span></p>
              <label>Discount code</label>
            </div>
          </div>-->
      </div>
    </div>
  </div>
</section>
