<section class="stream-section">

    <div id="stream" class="container-stream">
      <p class="stream-header">Live game </p>
      <p class="stream-desc">Take a look on available tickets and get yours now before sold out</p>
      <iframe width="881px" height="504px"
              src="http://192.168.9.59:5000/">
      </iframe>
  
  
      <!--<video>
        <iframe width="881px" height="504px"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
      </video>-->
      <p class="stream-team">Barcelona F.C vs Real Madrid</p>
      <p class="views">6,023 live views </p>
  
    </div>
    <div class="stream-detail">
      <img class="image-match" src="../../../assets/img/img_4.png" >
      <p class="titre">Liga BBVA Season 2021-22 </p>
    </div>
  </section>