<section class="streaming">
    <span class="text-replay">Replays</span><br>
    <span class="desc-replay">Feeling sorry because of a missed game ? No problem, we offer you many replays in a VR streaming</span> 
    <div class="replay-container">
        <div class="container-stream" *ngFor="let replay of REPLAYS">  
             
                <p class="nom-match">{{replay.nomMatch}}</p> <br>
                <p class="dateMatch">{{replay.dateMatch}}</p> 
            
            <a href=""><mat-icon [ngStyle]="{'color' : 'black','margin-left': '186px','margin-top': '28px'}" >play_arrow</mat-icon> </a>
        </div>

    </div>
     
</section>
