<section class="streaming">
    <span class="text-replay">Replays</span><br>
    <span class="desc-replay">Feeling sorry because of a missed game ? No problem, we offer you many replays in a VR streaming</span> 
    <div class="replay-container">
        <div class="container-stream" *ngFor="let replay of REPLAYS" [ngStyle]="{'background':'url(../../../assets/img/'+replay.image+') center'}">  
             
                <p class="nom-match">{{replay.nomMatch}}</p> <br>
                <p class="dateMatch">{{replay.dateMatch}}</p> 
            
            <a href=""><img style="margin-left: 169px;
                margin-top: 11px;" src="../../../../assets/img/play+back.svg" alt=""> </a>
            
        </div>

    </div>
     
</section>
