<section class="experience">
    <div class="video-demo">
      <div id="logo-experience">
        <a routerLink="/" >
          <img src="../../../assets/img/img2.svg" alt="" style="margin-bottom: 12px;">
        </a>
      </div>
      <div class="text-style">
        <h1 class="text-demk">Offering you the best possible experience</h1>
        <p class="text-demou">Augmented reality (AR) and Virtual Reality (VR) bridge the digital and physical worlds. We’re<br> working consistently to make this bridge more strong and more immersive. Our team are devoted <br>in this mission with passion. Our slutions lets you experience what it's like to go anywhere — from<br> the front row of a staidum to an immersive replay of a soccer game.</p>
        <div id="logo-animateit">
          <a routerLink="/" >
            <img src="../../../assets/img/icon-logo.svg" alt="">
          </a>
        </div>
        <h1 class="text-demon">GET TO KNOW OUR EXPERIENCE ! </h1>
        <p class="text-demol">A short video that describes in details what we are offering</p>
      </div>
      <img class="video"src="../../../../assets/img/video_demo.png" alt="video demo">
    </div>
    <div class="text">
      <p class="firsttitre">We bring the <span id="world"> world, </span> <br>right to your <span id="home"> home</span><br> </p>
      <p class="signup">Sign up for our newsletter to get new offers! </p>
      <button class="btn-email">Email adress
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
 
  
  </section>
  